// Global styles
html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-body;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    color: $text-primary;
}

header,
section,
footer {
    width: 100%;
    float: left;
}

.mh-100 {
    min-height: 100vh;
}

a {
    text-decoration: none;
    @include transition(ease, 0.3s);
}

.py-60 {
    padding: 60px 0;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.py-30 {
    padding: 30px 0;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.whatsapp {
    @include whatsapp-button;
}

header {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    color: #6DC18F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    @include transition(ease, 0.2s);

    #logo-navbar {
        width: 170px;
        @include transition(ease, 0.2s);
    }

    #mburger {
        color: $text-secondary;
        font-size: 1.6rem;

        &:hover,
        &:focus {
            color: $text-secondary;
        }
    }
}

.navbar-scroll {
    // background-color: ;
    padding: 10px 30px !important;
    @include transition(ease, 0.3s);

    #logo-navbar {
        width: 132px !important;
    }

    #mburger {
        // color: !important;
    }
}

#mapa {
    line-height: 0;
    
    p {
        margin: 0;
        padding: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gothamblack', 'Roboto', sans-serif;
    // font-weight: 700;
    text-transform: uppercase;

    span {
        color: $text-secondary;
    }
}

.btn {
    text-transform: uppercase;
}

.btn-primary,
.btn-secondary {
    font-family: 'adobe_caslon_proregular', sans-serif;
    text-transform: lowercase;
    mix-blend-mode: lighten;

    i {
        vertical-align: middle;
    }
}

header {
    background-color: $secondary;
    letter-spacing: 0.1rem;
    padding-top: 2rem;

    nav {
        text-transform: uppercase;

        a {
            color: #6DC18F;

            &:hover {
                background-color: $primary;
                color: $text-primary;
            }
        }

        ul {
            margin-bottom: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #6DC18F;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }
}

#jumbotron {
    @include background('../images/bg-jumbotron.png', center, cover);
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 60px 0;

    p,
    h1 {
        position: relative;
        z-index: 3;
    }

    p {
        color: $text-primary;
        font-size: 1.2rem;
        letter-spacing: 0.6rem;
        margin-bottom: 0;
    }

    .overlay,
    video {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .overlay {
        background-color: rgba(26, 197, 254, 0.3);
        z-index: 2;
    }

    video {
        z-index: 1;
    }
}

.seccion {
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'adobe_caslon_proregular', sans-serif;
        text-transform: none;
    }

    .btn {
        border-radius: 0;
    }
}

#video-pitch {
    @include background('../images/bg-video-pitch.png', center, cover);
}

#video-resume {
    @include background('../images/bg-video-resume.png', center, cover);

    &::before,
    &::after {
        position: absolute;
        content: '';
        z-index: 3;
    }

    &::before {
        background-color: #FFCF00;
        width: 400px;
        height: 60px;
        bottom: -30px;
        @include absolute-center-x;
    }
}

#paquetes {
    padding: 120px 0;

    .paquete {
        text-align: center;
        width: 100%;
        float: left;
        padding: 60px 60px 0px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'adobe_caslon_proregular', sans-serif;
            text-transform: none;
        }

        .btn {
            color: $text-tertiary;
            position: relative;
            top: 24px;
            mix-blend-mode: normal;
        }
    }

    #paquete-1 {
        @include background('../images/bg-paquete-1.png', center, contain);
    }

    #paquete-2 {
        @include background('../images/bg-paquete-2.png', center, contain);
    }
}

#descanso {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .texto {
        @include background('../images/bg-verde.png', center, cover);
        position: relative;
        text-align: center;
        padding: 60px;
        display: flex;
        align-items: center;

        h1 {
            span {
                color: $text-primary;
                background-color: #3970C0;
                margin: 30px 0;
                padding: 0 30px;
                display: inline-block;
            }
        }

        .btn {
            color: $text-tertiary;
            font-family: 'gothamblack', 'Roboto', sans-serif;
            position: relative;
            text-transform: none;
            transform-style: preserve-3d;
            mix-blend-mode: normal;
            @include font-size(2rem);

        
            &::after {
                position: absolute;
                z-index: -1;
                content: '';
                width: 242px;
                height: 32px;
                bottom: -22px;
                right: -14px;
                transform: translateZ(-1px);
                @include background('../images/after-btn-descanso.png', center, contain);
            }
        }
    }
}

#contacto {
    color: $text-secondary;
    overflow: hidden;
    position: relative;

    #bg {
        @include background('../images/bg-verde-grande.png', center, cover);
        position: absolute;
        width: 100%;
        height: 386px;
        left: 0;
        top: 90px;
    }

    #sigamos {
        color: $text-tertiary;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    h1 {
        color: $text-primary;
    }

    a {
        color: $text-secondary;

        &:hover {
            color: #334AC1;
        }
    }

    .form-floating > label {
        color: $text-primary;
    }

    .form-floating > .form-control:focus~label,
    .form-floating > .form-control:not(:placeholder-shown)~label,
    .form-floating > .form-control-plaintext~label,
    .form-floating > .form-select~label {
        color: $text-primary;
    }

    .form-floating > .form-control:focus~label::after {
        background-color: transparent;
    }

    .form-control {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $text-tertiary;
        color: $text-primary;
    }

    .btn {
        color: $text-primary;
    }
}

footer {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        @include background('../images/bg-footer.png', left, cover);
        width: 100%;
        height: 100%;
        float: left;
        padding: 74px 80px;
        display: flex;
        align-items: center;
    }
}