// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    #jumbotron {
        &::before,
        &::after {
            position: absolute;
            content: '';
            z-index: 3;
        }

        &::before {
            @include background('../images/before-jumbotron.png', center, contain);
            width: 94px;
            height: 160px;
            top: 160px;
            left: 0;
        }

        &::after {
            @include background('../images/after-jumbotron.png', center, contain);
            width: 110px;
            height: 490px;
            top: 120px;
            right: 0;
        }
    }

    #paquetes {
        .paquete {
            padding: 60px 42px 0px;

            .btn {
                top: 6px;
            }
        }
    }

    #contacto {
        #bg {
            height: 394px;
        }
    }
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }

    #jumbotron {
        padding: 100px 0;
    }

    #video-resume {
        @include background('../images/bg-video-resume.png', center, cover);

        &::after {
            @include background('../images/after-video-resume.png', center, contain);
            width: 164px;
            height: 42px;
            bottom: -12px;
            right: 60px;
        }
    }

    #paquetes {
        .paquete {
            padding: 70px 85px 0px;

            .btn {
                top: 22px;
            }
        }
    }

    #descanso {
        @include background('../images/bg-descanso.png', center, cover);
        padding: 60px 0;
    }

    #contacto {
        #bg {
            top: 82px;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }
    }

    .seccion {
        .btn-primary {
            @include font-size(2rem);
        }
    }

    #paquetes {
        .paquete {
            padding: 70px 124px 0px;

            .btn {
                top: 22px;
            }
        }
    }

    #contacto {
        #bg {
            height: 398px;
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@include media-breakpoint-up(xxl) {
    header {
        nav {
            ul {
                .list-inline-item:not(:last-child) {
                    margin-right: 4rem;
                }
            }
        }
    }

    #paquetes {
        .paquete {
            padding: 70px 170px 0px;

            .btn {
                top: 22px;
            }
        }
    }
}
